body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

#root {
  width: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-blue: #0099ff;
}

a {
  text-decoration: none;
  color: inherit;
}

.container-header {
  width: 80%;
  margin: 0 auto;
}

.container {
  width: 80%;
  max-width: 1600px;
  margin: 0 auto;
  position: relative;
}

.container::after {
  right: 0;
}

.container::before {
  left: 0;
}

.wrapper {
  margin-top: 200px;
}

.clear {
  clear: both;
}

.blue-text {
  color: var(--color-blue);
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.m-t-50 {
  margin-top: 50px;
}

.big-title-xl {
  font-size: 7rem;
}

.big-title-m {
  font-size: 5rem;
}

.title-m {
  font-size: 3rem;
}

.title-s {
  font-size: 2rem;
  margin: 50px 0 0;
}

.p-m {
  font-size: 1.25rem;
  line-height: 2rem;
}

.text-box {
  padding: 50px 0;
  max-width: 60%;
}

.text-box-all {
  margin: 20px 5% 0;
}

.btn-box {
  width: 100%;
  position: relative;
}

.btn-blue {
  color: #FFFFFF;
  padding: 15px 0;
  position: relative;
  margin-top: 15px;
}

.btn-center {
  position: relative;
  display: inline-block;
  left: 50%;
  transform: translateX(-50%);
}

.btn-blue a {
  padding: 15px 25px;
  background-color: #0099ff;
  border: 1px solid #0099ff;
  border-radius: 2px;
  transition: .33s;
}

.btn-blue a:nth-child(2) {
  background-color: rgba(255, 255, 255, 0);
  color: #0099ff;
  margin-left: 30px;
}

.btn-blue a:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #0099ff;
  border-radius: 15px;
}

.btn-blue button {
  padding: 15px 25px;
  background-color: #0099ff;
  border: 1px solid #0099ff;
  border-radius: 2px;
  color: #FFFFFF;
  transition: .33s;
  cursor: pointer;
  font-size: 1rem;
}

.btn-blue button:hover {
  background-color: rgba(255, 255, 255, 0);
  color: #0099ff;
  border-radius: 15px;
}

.btn-blue a:nth-child(2):hover {
  color: #FFFFFF;
  background-color: #0099ff;
}

.btn-blue-bar a {
  background: linear-gradient(0deg, #0099ff, #0099ff) no-repeat left bottom / 0 5%;
  transition: background-size .33s ease-in-out, color .33s;
  display: inline-block;
  color: #FFFFFF;
  background-size: 100% 100%;
  padding: 5px 25px;
}

.btn-blue-bar a:where(:hover, :focus-visible) {
  color: #000000;
  background-size: 0 100%;
  background-position-x: right;
}

.figma-100-box {
  margin-top: 50px;
}

.img-box-60 {
  max-width: 60%;
}

.img-box-60 img {
  width: 100%;
  object-fit: contain;
}

/* Last projects -- Home & About page */

.last-projects {
  position: relative;
}

.l-projects-elem {
  height: 450px;
  margin: 100px 0;
  clear: both;
}

.last-projects .l-projects-elem:nth-child(1) {
  margin-top: 50px;
}

.l-p-image-box {
  width: 60%;
  height: 100%;
  position: relative;
}

.l-p-image-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.l-p-image-box .l-p-image-shadow {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 153, 255, 0.1);
  position: absolute;
  left: 0;
  top: 0;
  transition: .33s;
}

.l-projects-elem:hover .l-p-image-shadow {
  background-color: rgba(0, 153, 255, 0);
}

.l-p-text-box {
  width: 40%;
  height: 100%;
}

.l-p-text-box .company-logo {
  width: 50%;
  height: 60px;
  margin: 20px 0;
  position: relative;
  margin: 30px auto 10px;
  transition: .5s;
}

.l-projects-elem:hover .l-p-text-box .company-logo {
  margin: 20px auto;
}


.l-p-text-box .company-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.l-project-left .l-p-text-box, .l-project-right .l-p-image-box {
  float: right;
}

.l-project-left .l-p-image-box, .l-project-right .l-p-text-box {
  float: left;
}

@media screen and (max-width: 1500px) {
  .first-home-wrapper .home-wrapper {
      margin: 0;
  }
}

@media screen and (max-width: 1350px) {
  .first-home-wrapper .big-home-photo {
      margin: 0;
  }
}

@media screen and (max-width: 1300px) {
  .l-p-image-box {
    width: 50%;
  }

  .l-p-text-box {
    width: 50%;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width: 1100px) {
  .big-title-xl {
    font-size: 6rem;
  }

  .big-title-m {
    font-size: 4rem;
  }
}

@media screen and (max-width: 950px) {
  .l-project-left .l-p-image-box, .l-project-right .l-p-text-box {
    float: none;
  }
  .l-p-image-box {
    width: 100%;
    height: 350px;
  }
  .l-project-left .l-p-text-box, .l-project-right .l-p-image-box {
    float: none;
  }
  .l-projects-elem {
    height: auto;
  }
  .l-p-text-box {
    width: 100%;
  }
  .l-p-text-box .company-logo {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .first-home-wrapper .big-home-photo img {
      max-height: 200px;
  }

  .text-box {
    max-width: 80%;
  }
}

@media screen and (max-width: 700px) {
  .big-title-xl {
    font-size: 5rem;
  }

  .big-title-m {
    font-size: 3.5rem;
  }
  
  .wrapper {
    margin-top: 250px;
  }
}